.sidenav {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-surface);
}

.sidenav__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidenav__link {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.sidenav__link:hover {
  background: var(--color-surface-hover);
}

.sidenav__link--active {
  background: var(--color-surface-active);
}
