@layer reset-css, utilities, component, overrides;

@layer reset-css {
  body {
    font-family: sans-serif;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
  }
}

@layer utilities {
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .flex-1 {
    flex: 1;
  }
}

.tweet-container {
  border: 1px solid #cfd9de;
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  gap: 12px;
  height: fit-content;
}

.avatar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.thumbnail {
  border-radius: 50%;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.author {
  margin-bottom: 2px;
}

.name {
  margin-right: 4px;
  color: #000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.metadata {
  color: #71767b;
  font-family: sans-serif;
  font-size: 15px;
}

.message {
  color: #0f1419;
  font-family: sans-serif;
  font-size: 15px;
}

.actions {
  max-width: 425px;
  display: flex;
  justify-content: space-between;
}

.action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.action-count {
  font-size: 13px;
  color: #536471;
}

p {
  margin: 0;
  padding: 0;
}

.input-container {
  position: relative;
}

.search-result-container {
  position: absolute;
  border: 1px solid #dedede;
  width: 100%;
  z-index: 100;
  background: white;
  max-height: 100px;
  overflow-y: scroll;
}

.search-result-item {
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  padding: 4px;
}

.search-result-item:hover {
  background-color: #dedede;
}
