.resume-container {
}

.export-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px 100px 4px 0px;
}

.export-container__button {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--color-action);
  color: var(--color-text-on-action);
  border: none;
  padding: 8px;
  border-radius: var(--radius);
  cursor: pointer;
}

.export-container__button:hover {
  background-color: var(--color-action-hover);
}

.resume {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  gap: 4px;
}

.resume__intro {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 16px 8px 16px;
}

.intro__heading {
}

.intro__role {
}

.intro__description {
  font-size: 12px;
}

.resume__contact-container {
  background-color: rgb(49 60 79);
  font-size: var(--text-xs);
}

.resume__contact {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__item--left {
  padding-left: 16px;
}

.contact__item--right {
  padding-left: 16px;
}

.contact__item {
  color: white;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact__item a {
  text-decoration: none;
}

.resume__content {
  display: grid;
  grid-template-columns: 6fr 4fr;
  padding: 0px 16px;
}

.work-experience {
  padding: 0px 0px 8px 0px;
}

.work-experience__role {
  font-size: 16px;
  font-weight: 600;
}

.work-experience__company {
  /* font-size: 16px; */
}

.work-experience__duration {
  font-size: var(--text-xs);
  font-style: italic;
}

.work-experience__domain {
  font-size: var(--text-xs);
}

.work-experience__achievements {
  font-size: var(--text-xs);
}

.work-experience__list {
  padding: 8px 0px 8px 16px;
  line-height: 1;
}

.work-experience__list-item {
  padding-bottom: 4px;
}

.work-experience__list-item-title {
  font-size: var(--text-xs);
  font-weight: bolder;
}

.work-experience__description {
  font-size: var(--text-xs);
}

.content-section {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.skill {
  background: antiquewhite;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: var(--text-sm);
}

.personal-projects-container {
}

.personal-project {
}

.personal-project__title {
  font-size: 16px;
  font-weight: 600;
}

.personal-project__list {
  padding: 8px 0px 8px 16px;
  /* line-height: 1; */
}

.personal-project__list-item {
  padding-bottom: 4px;
  font-size: var(--text-xs);
}

.education-container {
  font-size: var(--text-xs);
}

.education__list {
  padding-bottom: 4px;
}

.education__degree {
  font-weight: bolder;
}

.education__domain {
}
