.layout {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  height: 100%;
}

.side-nav {
  width: 254px;
  box-shadow: var(--shadow-sm);
  padding: 12px;
  background: var(--color-surface);
}

.side-nav__item {
  padding: 8px;
  border-radius: 8px;
}

.side-nav__item:hover {
  background: var(--color-surface-hover);
}
