.app {
  height: 100dvh;
  background: var(--color-bg);
  color: var(--color-text);
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  overflow: hidden;
}

.main-section {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  min-height: 0;
}

.main {
  overflow-y: scroll;
}
