@layer component {
  .accordion {
    width: 100%;
  }
  .accordion-item {
    padding: 8px;
    border: 1px solid #dedede;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .accordion-item-content {
    transform: translateY(0);
    transition: transform 0.1s ease-in;
  }

  @starting-style {
    .accordion-item-content {
      transform: translateY(-1%);
    }
  }
}
